.pokedex-page-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: #5BB8FB;

}
.pokedex-table-container {
  width:70%;
  /* width: 'fit-content'; */
  margin:0 auto;
  background-color: white;
  border-radius:5px;
  border: 2px solid black;

}
.pokedex-title {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Press Start 2P';
}

.pokedex-table {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-table-box {
  border: 2px solid black;
}

.avatarSmallText {
  width: '2.75rem';
  height: '2.75rem';
  border: 2px solid black;
}

.table-head {
  background-color: #EBEBE5;
}

.table-row:hover {
  cursor: pointer;
  background-color: #FFF9E0;
}

.pokemon-name-column {
  display:flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  border: 1px solid red;
}