img {
    max-width: 150px;
    max-height: 50px;
    margin-bottom: 11px;
}
.cabecalho {
    display: flex;
    font-size: 70px;
    justify-content: center;
    width: 100%;
}

.card {
    margin-top: 2rem;
    height: 350px;
}

.custom-image {
    all: unset;
    max-height: 140px;
}

@media (max-width: 800px) {
    .cabecalho {
        font-size: 40px;
    }

    img {
        max-width: 120px;
        max-height: 30px;
        margin-bottom: 11px;
    }

    .custom-image {
        all: unset;
        width: 80%;
        margin: auto;
        max-height: 200px;
        min-height: 100px;
    }
    .card {
        min-height: 400px;
    }
}

.btn {
    margin-left: 5px;
}
