@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}


#__next{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
}
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: lightgrey;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb {
  background-color: #EF4444;
  border-radius: 999px
}