.container {
    margin: 5% 2%;
    max-width: 96%;
}

.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.search-container {
    margin: 5%;
}

.search-container input{
    width: auto;
    display: inline-flex;
    height: 35px;
    margin: auto 15px auto 0;
}

.search-container label{
    display: block;
}
