<!-- MENU NAV BAR -->
<!-- MENU NAV BAR -->
<!-- MENU NAV BAR -->
<nav class="navbar" role="navigation" aria-label="main navigation" id="menu">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="../assets/logoPoke.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/">
          Home
        </a>
  
        <a class="navbar-item" routerLink="/cadPokemon">
          Cadastrar Pokemon
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.facebook.com/igor.nascimento.50364">
              Facebook
            </a>
            <a class="navbar-item" href="https://www.linkedin.com/in/igor-nascimento-50230a188/">
              Linkedin
            </a>
            <a class="navbar-item" href="https://www.github.com/irgor">
              GitHub
            </a>
          </div>
        </div>
      </div>
  
    </div>
  </nav>

<!-- MENU NAV BAR -->
<!-- MENU NAV BAR -->
<!-- MENU NAV BAR -->

<router-outlet></router-outlet>