.pokemon-container {
    width: 100% !important;
    margin-top: 8px;
    min-height: 100vh;
    padding: 0 !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 5fr));
    grid-template-rows: repeat(auto-fit, minmax(275px, 5fr));
    justify-items: center;
    align-items: center;
    place-content: center;
}
