.container {
  max-width: 1170px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    overflow: initial;
    padding-left: 0px;
    padding-right: 0px;
  }

  &--lg {
    max-width: 645px;
  }

  &--md {
    max-width: 532px;
  }

  &--sm {
    max-width: 464px;
  }
}