.create-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-title p {
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Press Start 2P'
}

.create-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}