div.container {
  width: 100%;
  height: 100%;
  padding: 14px;
  box-sizing: border-box;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 56px 56px 1fr;
}

div.list-container {
  height: auto;
  overflow-y: scroll;
}