.header-marcio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50;
}

.navbar-text {
 justify-self: flex-end;
}

.form{
  background: var(--color-box-base);
  width:30%;
  max-width: 79rem;
  border-radius: 0.8rem;
  margin: 1.0rem ;
  padding-top:1.4rem;
  overflow: hidden;
}
.form-row{
  display: flex;
  justify-content: space-evenly;
  margin-right: 5px;
  margin-left: 5px;
}
