.page-view{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    background: linear-gradient(400deg, #ffd900 0%,  #f88400 100%, #ff0000 100%);
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.page-view .page-content{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 5%;
    width: 45vw;
    height: 90vh;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
img:hover{
    -webkit-transform:scale(1.1);
    transition: 0.3s;
}
.page-content .skills{
    width: 30vw;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}