<div class="appRoot">
  <header class="appHeader">
    <h1 class="appHeader__title">{{title}}</h1>
    <button class="appHeader__actionNew button is-primary" (click)="onAddNew()">Add New</button>
  </header>
  <main class="appContent">
    <table class="pokemonList table table is-fullwidth">
      <thead>
        <tr>
          <th>Thumb</th>
          <th (click)="onSort('name')" class="isSortable">Nome</th>
          <th (click)="onSort('atk') " class="isSortable">Atk</th>
          <th (click)="onSort('def')" class="isSortable">Def</th>
          <th (click)="onSort('sta')" class="isSortable">Sta</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pokemonList__row" *ngFor="let pokemon of getPage()" (click)="onSelect(pokemon)">
          <td><img class="pokemonList__thumb" [src]="getThumb(pokemon.name)" alt=""></td>
          <td>{{pokemon.name | capitalize}}</td>
          <td>{{pokemon.atk}}</td>
          <td>{{pokemon.def}}</td>
          <td>{{pokemon.sta}}</td>
          <td><button class="button is-primary" (click)="onDelete($event, pokemon.id)">X</button></td>
        </tr>
      </tbody>
    </table>
    <app-add-dialog [pokemon]="selectedPokemon" [dataList]="dataList" (save)="onSave($event)"></app-add-dialog>
    <button class="button is-primary floatingButton" aria-label="Add new" (click)="onAddNew()">+</button>
    <nav class="pagination is-medium" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        <li *ngFor="let page of mountPagination(); index as i"><a class="pagination-link" [class]="{'is-current':currPage == i + 1}" aria-label="Goto page 1" (click)="chagePage(i + 1)">{{i + 1}}</a></li>
      </ul>
    </nav>
  </main>
</div>