.nomePokemon{
    float: right;
    margin-right: 20px;
}
#fotoPokemon{
    width: 200px;
}
.dadoPokemon{
    float: right;
}
#dadosPokemon{
    align-content: center;
    text-align: center;
}

.dataPokemon{
    font-family: monospace;
}

.ngx-pagination {
    padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
}

.ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border-radius: 20px !important; 
    border: transparent !important;
}
