@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body, html, #root {
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  width: 100%;
}