.Header-main {
    text-align: center;
    width: 100%;
    max-height: 400px;
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,5,0,1) 0%, rgba(255,91,88,1) 64%, rgba(255,255,255,1) 100%, rgba(241,208,208,1) 100%);
}