/*
| ================================================================================
| Custom
| ================================================================================
*/

:root {
    --headerHeight: 60px;
    --mainColor: #DDD;
    --fabSize: 56px;
    --listHeight: 60px;
}

/*
| ================================================================================
| Core
| ================================================================================
*/

* {
    box-sizing: border-box;
    position: relative;
}

html,
body,
.appRoot {
    width: 100%;
    height: 100%;
}

html {
    font-size: 10px;
}

html,
body,
.appRoot {
    overflow: hidden;
}

/*
| ================================================================================
| Header
| ================================================================================
*/

.appHeader {
    min-height: var(--headerHeight);
    background-color: var(--mainColor);
}

/*
| ================================================================================
| Main
| ================================================================================
*/

.appContent {
    height: calc(100% - var(--headerHeight));
    overflow: hidden auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floatingButton {
    width: var(--fabSize);
    height: var(--fabSize);
    border: 0;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}