/*
| ================================================================================
| Custom
| ================================================================================
*/

:root {
    --headerHeight: 60px;
    --mainColor: #DDD;
}

/*
| ================================================================================
| Core
| ================================================================================
*/

html,
body,
.appRoot {
    width: 100%;
    height: 100%;
}

html,
body,
.appRoot {
    overflow: hidden;
}

/*
| ================================================================================
| Header
| ================================================================================
*/

.appHeader {
    min-height: var(--headerHeight);
    background-color: var(--mainColor);
}

/*
| ================================================================================
| Main
| ================================================================================
*/

.appContent {
    height: calc(100% - var(--headerHeight));
    overflow: hidden auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}