.app-logo{
  height: 100px;
  width: 100px;;
}

.SearchBox{
  width: 50%;
}

.FoundPokemons{
  width: 90%;
}

.button-pokemon{
  width: 100%;
}

.search-add{
  width: 50%;
}

.input-group{
  margin-top: 1px;
}