body {
    font-family: Roboto, sans-serif !important;
    float: end;
    background-image: url("../assets/bkg.png");
    margin: 0 auto !important;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    justify-self: center;
}

.left {
    float: left;
    left: 0;
}

.right {
    float: right;
    right: 0;
}

.card {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px !important;
    margin-top: 25px;
    /**
        height: 101px;
        border: none;
        float: left;
        width: 591px;
        margin-left: 10px; **/
}

.pokeball {
    margin-left: 15px;
    z-index: 0;
}
