*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.modal-wrapper {
  background: #fff;
  width: 80%;
  max-width: 800px;
  margin: 4rem auto;
  transition: all .5s ease;
}

.modal-header {
  background: linear-gradient(to left, #fad130, #ffef5f );
  color: #e9e9e9;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
  color:  rgb(25, 0, 167);
}

.modal-content {
padding: 1.5rem 1rem;
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-header p {
   font-size: 1.1rem;
   color:  rgb(25, 0, 167);
}

.modal-footer {
  background: linear-gradient(to left, #fad130, #ffef5f );
  border-radius: 15px;
}

.modal-footer .btn-no {
  border-radius: 10px;
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: rgb(255, 69, 1);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-footer .btn-yes {
  border-radius: 10px;
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1.8rem;
  background: rgb(10, 184, 10);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.back-drop {
  background: rgba(49, 47, 47, 0.692) ;
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}