.pokeList td, th, tr {
    white-space: nowrap;
    text-align: center;
}

.MuiPagination-ul {
    justify-content: flex-end;
}

@media(max-width: 500px) {
    body{
        font-size:0.9rem;
    }
    .MuiPagination-ul {
        justify-content: center;
    }
    .hero img {
        width: 70%;
    }
}