.register-form-page {
  height: 35vh;
  background-color: red;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /* width: 20%;
  height: 40%; */
}

.register-form-title {
  padding: 2rem;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Press Start 2P'
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.register-form-title {
  animation-name: pulsing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 680px) {
  .register-form-title {
    font-size: large;
    font-weight: bolder;
  }

/* .center-form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: 40%;
} */

/* .register-form {
  background-color: rgb(255,206,49);
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 40%;
  margin: 0 auto;
  align-items: center;
  border: 2px solid black;
}



.register-title {
  font-size: xx-large;
  font-weight: bolder;
}

.register-input {
  background-color: white;
  border-radius: 8px;
  width: 80%;
}

.register-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  align-items: center;
}

.register-form-buttons {
  width: 'fit-content';
  text-decoration: none;
  color: inherit;
}


} */
